body{
    background-image: linear-gradient(to top right, rgb(55, 154, 247), rgb(228, 242, 103));
}

.block1 {
    position: static;
    left: 50px;
    top: 40px;
}

.block2{
    position: relative;
    left: 300px;
    bottom: 250px;
}

.block3{
    position: absolute;
    left: 600px;
    bottom: 550px;
}

.block4{
    position: sticky;
    bottom: 150px;
}

.block5{
    position: fixed;
    left: 600px;
    bottom: 550px;
}